.card-produto {
    width: 24%;
    color: white;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 1rem;
    transform: scale(0.9);
    transition: all ease 0.3s;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.card-produto:hover {
    transform: scale(1.1);
}

.card-produto img {
    width: 100%;
}

.card-produto p {
    margin-top: 1rem;
    text-align: center;
    color: #3E54AC;
}
