.carrinho-vazio {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    font-size: 30px;
    
}

.div-pai {
    margin: 40px;
}

.div-pai button {
    display: flex;
    margin-top: 2%;
    padding: 0.5%;
    border-radius: 10px;
}

.div-pai button:hover {
    background-color: #808083;
    color: white;
    cursor: pointer;
}

